*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wishlistEmpty-container {
	max-width: 980px;
    margin: 230px auto 180px;
    text-align: center;
}

.wishlistEmpty-heading {
	font-size: 20px;
    font-weight: 600;
    color: #282c3f;
}

.wishlistEmpty-info {
	font-size: 18px;
    color: #94989f;
    max-width: 380px;
    margin: 20px auto 0;
}

.index-headingDiv {
	margin: auto;
    padding: 50px 0;
}

.index-heading {
    width: 162px;
    height: 21px;
    font-size: 18px;
    font-weight: 700;
    color: #282c3f;
}

.index-count {
    font-weight: 400;
}

.index-wishListContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin: 50px 0 0 0px;
    bottom: 100px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    /* justify-content: space-between; */
}


ul {
    list-style: none;
}


.itemcard-itemCard {
    background-color: #fff;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    padding: 0 0 14px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 210px;
    flex: 1 0 210px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 40px 0 0 40px;
    outline: 1px solid #e9e9eb;
    position: relative;
    height: 425px;
    max-width: 220px;
}

.itemcard-itemImageDiv {
    position: relative;
}

.itemcard-itemImage {
    width: 100%;
    cursor: pointer;
    min-height: 294px;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    opacity: 1;
}

.itemcard-removeIcon {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 20px;
    height: 24px;
    width: 24px;
    background-color: hsla(0,0%,100%,.6);
    border: 1.2px solid #d4d5d9;
    cursor: pointer;
    text-align: center;
}

.itemcard-removeMark {
    margin-top: 9px;
    margin-left: -1px;
    zoom: .7;
    -moz-transform: scale(.8);
    -moz-transform-origin: 9px -9px;
}

.sprites-remove {
    width: 14px;
    height: 14px;
    background-position: -1083px 0;
}

.myntraweb-sprite {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    display: inline-block;
}

.itemcard-itemActions {
    position: absolute;
    height: 140px;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    background: #fff;
}

.itemdetails-itemDetails {
    height: 94px;
    font-size: 14px;
    text-align: left;
    color: #696b79;
    padding: 10px 10px 0;
    border: none!important;
    border-bottom: 1px solid #e9e9eb!important;
}

.itemdetails-itemDetailsLabel {
    font-size: 16px;
    color: #282c3f;
    text-align: left;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.itemdetails-itemDetailsDescription, .itemdetails-itemPricing {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemdetails-itemDetailsDescription {
    margin: 4px 0 8px;
    color: #535766;
    font-size: 14px;
    text-decoration: none;
}

.itemdetails-itemPricing {
    font-size: 16px;
    text-align: center;
}

.itemdetails-boldFont {
    font-weight: 700;
    padding: 0 3px 0 0;
    font-size: 16px;
    color: #282c3f;
}

.itemdetails-strike {
    text-decoration: line-through;
    opacity: .7;
    font-size: 12px;
    padding: 0 3px;
    color: #282c3f;
}

.itemdetails-discountPercent {
    color: #ff905a;
    padding: 0 3px;
    font-size: 12px;
    font-weight: 700;
}

.itemcard-actionDiv {
    text-align: center;
    font-size: 14px;
    padding-top: 14px;
}

.itemcard-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.itemcard-boldFont {
    font-weight: 700;
}

.itemcard-moveToBag {
    color: #ff3e6c;
}

/******************************* CART *****************************/

:not(input):not(textarea):not(button) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
}


.desktop-base-cartLayout {
    max-width: 980px;
    margin: auto;
    padding: 0 10px 16px;
    min-height: 320px;
    color: #282c3f;
    background: white;
    padding-bottom: 5px;
}

.itemBlock-base-leftBlock {
    display: inline-block;
    width: 64%;
    padding-right: 20px;
    border-right: 1px solid #eaeaec;
    padding-top: 32px;
}

.itemContainer-base-itemMargin {
    margin-bottom: 8px;
}

.itemContainer-base-item {
    background: #fff;
    font-size: 14px;
    border: 1px solid #eaeaec;
    border-radius: 4px;
    position: relative;
    padding: 12px 12px 0;
}

.itemContainer-base-itemLeft {
    position: absolute;
}

.image-base-imgResponsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.itemContainer-base-itemRight {
    padding-left: 12px;
    position: relative;
    min-height: 148px;
    margin-left: 111px;
    margin-bottom: 12px;
}

.itemContainer-base-details {
    min-height: 97px;
}

.itemContainer-base-details, .itemContainer-base-itemLink {
    text-decoration: none;
    padding-bottom: 0;
    margin-right: 6px;
}

.itemContainer-base-brand {
    font-weight: 700;
}
.itemContainer-base-brand {
    margin-bottom: 4px;
}
.itemContainer-base-brand, .itemContainer-base-itemLink, .itemContainer-base-itemName {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 16px;
}

.itemContainer-base-itemLink {
    display: block;
}

.itemComponents-base-sellerContainer {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
}

.itemComponents-base-sellerData {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 62%;
    display: inline;
    color: #94969f;
}

.itemContainer-base-sizeAndQtyContainer {
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.itemContainer-base-sizeAndQty {
    display: flex;
    flex-wrap: wrap;
    margin-right: 8px;
}

.itemComponents-base-size {
    display: inline-block;
    white-space: nowrap;
    padding: 2px 8px;
    background: #f5f5f6;
    color: #282c3f;
    font-weight: 700;
    cursor: pointer;
    margin-right: 12px;
    border-radius: 2px;
    line-height: 16px;
}

svg:not(:root) {
    overflow: hidden;
}

.itemComponents-base-dropDown {
    font-size: 16px;
    color: #282c3f;
    cursor: pointer;
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.itemComponents-base-quantity {
    display: inline-block;
    white-space: nowrap;
    padding: 2px 8px;
    background: #f5f5f6;
    color: #282c3f;
    font-weight: 700;
    cursor: pointer;
    border-radius: 2px;
    line-height: 16px;
}

.itemContainer-base-price {
    display: flex;
}

.itemComponents-base-bold {
    font-weight: 700;
}

.itemComponents-base-price {
    display: inline-block;
    color: #282c3f;
}

.itemComponents-base-rupeeBoldIcon {
    margin-right: 1px;
    height: 9px;
}

.itemContainer-base-discountBlock {
    display: flex;
}

.itemComponents-base-strikedAmount {
    display: inline-block;
}

.itemComponents-base-price.itemComponents-base-strike {
    color: #94969f;
    padding: 0 8px;
}
.itemContainer-base-strikedAmount {
    color: #535766;
}
.itemComponents-base-strike {
    text-decoration: line-through;
}
.itemComponents-base-price {
    display: inline-block;
    color: #282c3f;
}

.itemComponents-base-itemDiscount {
    color: #f16565;
}

.itemContainer-base-closeIcon {
    position: absolute;
    top: 13px;
    right: 13px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.addToWishlist-base-wishlistBlock {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #fff;
    color: inherit;
    padding: 12px;
    position: relative;
    font-weight: 700;
    padding: 16px 12px 16px 16px;
    margin-top: 24px;
    border: 1px solid #eaeaec;
    border-radius: 4px;
}

.addToWishlist-base-wishlistText {
    display: flex;
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    color: #282c3f;
}

.addToWishlist-base-wishlistChevron {
    float: right;
    font-size: 20px;
    color: #282c3f;
}


.desktop-base-right {
    vertical-align: top;
    display: inline-block;
    width: 35%;
    padding: 24px 0 0 16px;
}

.priceBlock-base-container {
    margin-bottom: 16px;
}

.priceBlock-base-priceHeader {
    font-size: 12px;
    font-weight: 700;
    margin: 24px 0 16px;
    color: #535766;
}

.priceBreakUp-base-orderSummary {
    font-size: 14px;
}

.priceDetail-base-redesignRow, .priceDetail-base-row {
    margin-bottom: 12px;
    line-height: 16px;
}

.priceDetail-base-value {
    float: right;
}

.priceDetail-base-discount {
    color: #03a685;
}

.priceDetail-base-infoTextContainer {
    display: inline-block;
}

.css-1pl9bms {
    font-size: 14px;
    margin-left: 8px;
    font-weight: 700;
    border-radius: 2px;
    border-width: 0px;
    background-color: transparent;
    color: rgb(255, 63, 108);
    padding: 0px;
    cursor: pointer;
}

.css-xjhrni {
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
}

.priceDetail-base-spaceRight {
    padding-right: 4px;
}
.priceDetail-base-striked {
    text-decoration: line-through;
}

.priceDetail-base-total {
    font-weight: 700;
    font-size: 15px;
    padding-top: 16px;
    border-top: 1px solid #eaeaec;
    color: #3e4152;
    line-height: 16px;
}

.priceDetail-base-value {
    float: right;
}

.priceDetail-base-redesignRupeeTotalIcon {
    font-size: 16px;
    font-weight: 400;
}

.css-ibwr57 {
    font-size: 14px;
    padding: 10px 16px;
    width: 100%;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 2px;
    border-width: 0px;
    background-color: rgb(255, 63, 108);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.css-xjhrni {
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
}