<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Access-Denied | ShipShop</title>
   	<head th:replace="~{head :: main}" ></head>
</head>
<body>
<div sec:authorize="!isAuthenticated()" th:replace="~{header :: client_default_header_guest}"></div>
<div sec:authorize="hasAnyRole('USER')" th:replace="~{header :: client_default_header}"></div>
<div sec:authorize="hasAnyRole('SELLER')" th:replace="~{header :: client_default_header_seller}"></div>
<div sec:authorize="hasAnyRole('ADMIN')" th:replace="~{header :: client_default_header_admin}"></div>
<div class="container">
	<div class="wrapper">
		<h1 style="color: red">You are not Authorized to Access this Page</h1>
	</div>
</div>
</body>
</html>