<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   	<head>
   		<title>ShipShop - An eCommerce Platform</title>
    	<head th:replace="~{head :: main}" ></head>
	</head>
	<body>
		<div sec:authorize="!isAuthenticated()" th:replace="~{header :: client_default_header_guest}"></div>
		<div sec:authorize="hasAnyRole('USER')" th:replace="~{header :: client_default_header}"></div>
		<div sec:authorize="hasAnyRole('SELLER')" th:replace="~{header :: client_default_header_seller}"></div>
		<div sec:authorize="hasAnyRole('ADMIN')" th:replace="~{header :: client_default_header_admin}"></div>
		<!-- HEADER -->
		

		<!-- NAVIGATION -->
		<div class="container">
			<!-- SECTION -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- shop -->
						<div class="col-md-4 col-xs-6">
							<div class="shop">
								<div class="shop-img">
									<img src="./img/shop01.png" alt="">
								</div>
								<div class="shop-body">
									<h3>Laptop<br>Collection</h3>
									<a href="/product/category/2" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
						<!-- /shop -->
	
						<!-- shop -->
						<div class="col-md-4 col-xs-6">
							<div class="shop">
								<div class="shop-img">
									<img src="./img/shop03.png" alt="">
								</div>
								<div class="shop-body">
									<h3>Accessories<br>Collection</h3>
									<a href="/product/category/5" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
						<!-- /shop -->
	
						<!-- shop -->
						<div class="col-md-4 col-xs-6">
							<div class="shop">
								<div class="shop-img">
									<img src="./img/shop02.png" alt="">
								</div>
								<div class="shop-body">
									<h3>Cameras<br>Collection</h3>
									<a href="/product/category/4" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
						<!-- /shop -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /SECTION -->
	
			<!-- SECTION -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
	
						<!-- section title -->
						<div class="col-md-12">
							<div class="section-title">
								<h3 class="title">New Products</h3>
								<div class="section-nav">
									<ul class="section-tab-nav tab-nav">
										<li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
										<li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
										<li><a data-toggle="tab" href="#tab1">Cameras</a></li>
										<li><a data-toggle="tab" href="#tab1">Accessories</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /section title -->
	
						<!-- Products tab & slick -->
						<div class="col-md-12">
							<div class="row">
								<div class="products-tabs">
									<!-- tab -->
									<div id="tab1" class="tab-pane active">
										<div class="products-slick" data-nav="#slick-nav-1">
											<!-- product -->
											<!-- <div class="product" id="1000"> -->
											<div th:each="product : ${newProducts}" class="product" th:id="${product.productCode}">
												<div class="product-img">
													<div th:if="${product.productImages.size() > 0}" class="product-preview" th:each="image : ${product.productImages}">
														<img th:src="${image.path}" alt="">
													</div>
													
													<div th:if="${product.productImages.size() == 0}" class="product-preview">
														<img src="/img/no-image.jpg" alt="">
													</div>
													
													<div class="product-label">
														<span class="sale" th:if="${product.discount > 0}" th:text="${'-' + #numbers.formatDecimal(product.discount, 0, T(java.lang.Math).ceil(product.discount) == product.discount ? 0 : 2) + '%'}">-30%</span>
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category" th:text="${product.category.name}">Category</p>
													<h3 class="product-name" th:text="${product.productName}"><a href="#">Product Name</a></h3>
													<h4 class="product-price">
														<span th:text="${'₹' + #numbers.formatDecimal((product.mrp - (product.mrp * product.discount/100)), 0, 0)}"></span>
														<del th:if="${product.discount > 0}" class="product-old-price" th:text="${'₹' + #numbers.formatDecimal(product.mrp, 0, 0)}"></del>
													</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
														<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
												</div>
											</div>
											<!-- /product -->
	
											
										</div>
										<div id="slick-nav-1" class="products-slick-nav"></div>
									</div>
									<!-- /tab -->
								</div>
							</div>
						</div>
						<!-- Products tab & slick -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /SECTION -->
	
			<!-- HOT DEAL SECTION -->
			<div id="hot-deal" class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="hot-deal">
								<ul class="hot-deal-countdown">
									<li>
										<div>
											<h3>02</h3>
											<span>Days</span>
										</div>
									</li>
									<li>
										<div>
											<h3>10</h3>
											<span>Hours</span>
										</div>
									</li>
									<li>
										<div>
											<h3>34</h3>
											<span>Mins</span>
										</div>
									</li>
									<li>
										<div>
											<h3>60</h3>
											<span>Secs</span>
										</div>
									</li>
								</ul>
								<h2 class="text-uppercase">hot deal this week</h2>
								<p>New Collection Up to 50% OFF</p>
								<a class="primary-btn cta-btn" href="#">Shop now</a>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /HOT DEAL SECTION -->
	
			<!-- SECTION -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
	
						<!-- section title -->
						<div class="col-md-12">
							<div class="section-title">
								<h3 class="title">Top selling</h3>
								<div class="section-nav">
									<ul class="section-tab-nav tab-nav">
										<li class="active"><a data-toggle="tab" href="#tab2">Laptops</a></li>
										<li><a data-toggle="tab" href="#tab2">Smartphones</a></li>
										<li><a data-toggle="tab" href="#tab2">Cameras</a></li>
										<li><a data-toggle="tab" href="#tab2">Accessories</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /section title -->
	
						<!-- Products tab & slick -->
						<div class="col-md-12">
							<div class="row">
								<div class="products-tabs">
									<!-- tab -->
									<div id="tab2" class="tab-pane fade in active">
										<div class="products-slick" data-nav="#slick-nav-2">
											<!-- product -->
											<div th:each="product : ${topSellingProducts}" class="product" th:id="${product.productCode}">
												<div class="product-img">
													<div th:if="${product.productImages.size() > 0}" class="product-preview" th:each="image : ${product.productImages}">
														<img th:src="${image.path}" alt="">
													</div>
													
													<div th:if="${product.productImages.size() == 0}" class="product-preview">
														<img src="/img/no-image.jpg" alt="">
													</div>
													
													<div class="product-label">
														<span class="sale" th:if="${product.discount > 0}" th:text="${'-' + #numbers.formatDecimal(product.discount, 0, T(java.lang.Math).ceil(product.discount) == product.discount ? 0 : 2) + '%'}">-30%</span>
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category" th:text="${product.category.name}">Mobile Phone</p>
													<h3 class="product-name" th:text="${product.productName}"><a href="#">Nokia 1100</a></h3>
													<h4 class="product-price">
														<span th:text="${'₹' + #numbers.formatDecimal((product.mrp - (product.mrp * product.discount/100)), 0, 0)}">9999.00</span>
														<del th:if="${product.discount > 0}" class="product-old-price" th:text="${'₹' + #numbers.formatDecimal(product.mrp, 0, 0)}"></del>
													</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
														<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
												</div>
											</div>
										</div>
										<div id="slick-nav-2" class="products-slick-nav"></div>
									</div>
									<!-- /tab -->
								</div>
							</div>
						</div>
						<!-- /Products tab & slick -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /SECTION -->
	
			
	
			<!-- NEWSLETTER -->
			<div id="newsletter" class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="newsletter">
								<p>Sign Up for the <strong>NEWSLETTER</strong></p>
								<form>
									<input class="input" type="email" placeholder="Enter Your Email">
									<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
								</form>
								<ul class="newsletter-follow">
									<li>
										<a href="#"><i class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-instagram"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-pinterest"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /NEWSLETTER -->
	
			<div th:replace="~{footer :: client_default_footer}"></div>
		</div>
	</body>
</html>
