<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ShipShop | Login</title>
   	<head th:replace="~{head :: main}" ></head>
</head>
<body>
	<div th:replace="~{header :: client_default_header_guest}"></div>
    <div class="container2">
	  	<div class="wrapper">
	  		<div class="login-window row">
	  			<div class="col-sm-4 info-part">
	  				<span class="heading"><span th:text="#{label.form.login.title}">Login</span></span>
      				<p class="sub-heading"><span>Get access to your Orders, Wishlist and Recommendations</span></p>
	  			</div>
	  			<div class="col-sm-8 main-part">
			  		<form class="login login-form" action="/signin" method="POST">
					    <div class="msg" th:if="${session.message}" th:text="${session.message}" th:classappend="${(session.logoutSuccess != null) ? 'logout-success' : 'login-error'}">
					    </div>
					    
					    <div th:if="${session.message}" th:text="${@sessionUtilityBean.removeAttributeFromSession('message')}" th:remove="tag"></div>
				   		<div th:if="${session.logoutSuccess}" th:text="${@sessionUtilityBean.removeAttributeFromSession('logoutSuccess')}" th:remove="tag"></div>
					    
					    <input type="email" autocomplete="off" name="username" th:placeholder="#{label.user.email}" />
					    <i class="fa fa-user"></i>
					    
					    <input autocomplete="off" type="password" th:placeholder="#{label.user.password}" name="password" />
					    <i class="fa fa-key"></i>
					    
					    <div class="form-checkbox">
						    <div class="switch">
							    <input id="remember-me"\ name="remember-me"  type="checkbox" checked class="switch-input" />
					    		<label for="remember-me" class="switch-label">Switch</label>
						    </div>
						    <span>Remember Me?</span>
						</div>
					    
					    <button type="submit" class="btn btn-bg-red login-btn">
					      <i class="spinner"></i>
					      <span class="state" th:text="#{label.form.login.submit}">Log in</span>
					    </button>
				  	</form>
					<a class="bottom-link" th:href="@{/register}" th:text="#{label.form.registrationLink}">Register</a>
					<a class="bottom-link-2" th:href="@{/user/forgotPassword}">Forgot Password</a>
				</div>
			</div>
	  	</div>
	</div>
	
	<div th:replace="~{footer :: client_default_footer}"></div>
	
</body>
</html>