<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register</title>
  <head th:replace="~{head :: main}" ></head>
</head>
<body>
	<div th:replace="~{header :: client_default_header_guest}"></div>
    <div class="container2">
	  	<div class="wrapper">
	  		<div class="login-window row">
	  			<div class="col-sm-4 info-part">
	  				<span class="heading"><span>Are you a Seller?</span></span>
      				<p class="sub-heading"><span>Sign up with your email to get started</span></p>
	  			</div>
	  			<div class="col-sm-8 main-part">
	  				<div class="message alert alert-register hidden"></div>
			  		<form class="login" id="seller-registration-form">
					    <div>
					        <input id="email" class="form-control" th:placeholder="#{label.user.email}" autofocus autocomplete="off" required minlength="8" maxlength="50" data-index="1" />
					        <i class="fa fa-user"></i>
					    </div>
					    
					    <div>
					        <input id="first-name" class="form-control" th:placeholder="#{label.user.firstName}" pattern="[a-zA-Z]+" autofocus autocomplete="off" required minlength="2" maxlength="15" data-index="2" />
					        <i class="fa fa-user"></i>
					    </div>
					    <div>
					        <input id="last-name" class="form-control" th:placeholder="#{label.user.lastName}" pattern="[a-zA-Z]+" autofocus autocomplete="off" required minlength="2" maxlength="15" data-index="3" />
					        <i class="fa fa-user"></i>
					    </div>
					    
					    <div>
					        <input type="password" class="form-control" id="password" th:placeholder="#{label.user.password}" autocomplete="off" required minlength="6" maxlength="16" data-index="4" />
					        <i class="fa fa-key"></i>
					    </div>
					    
					    <div>
					        <input type="password" class="form-control" id="repeatPassword" th:placeholder="#{label.user.repeat.password}" autocomplete="off" required minlength="6" maxlength="16" data-index="5" />
					        <i class="fa fa-key"></i>
					        <small class="error-password"></small>
					    </div>
					    
					    <div class="form-checkbox">
						    <div class="switch">
							    <input id="show-password" type="checkbox" class="switch-input" />
					    		<label for="show-password" class="switch-label">Switch</label>
						    </div>
						    <span>Show Password</span>
						</div>
					    
					    <button class="seller-register-btn btn btn-bg-red" th:text="#{label.form.registration.submit}"></button>
					</form>
					
					<a class="bottom-link-2" th:href="@{/login}" th:text="#{label.form.loginLinkHelper}"></a>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{footer :: client_default_footer}"></div>
	
</body>
</html>